body {
	background-image: url(/img/blog-background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.jumbotron {
	font-family: "Thunder Strike";
	font-size: 5em;
	text-align: center;
	text-decoration: underline;
	margin-top: 0;
	margin: auto;
	border-bottom: 2px solid black;
	box-shadow: -10px 10px 10px #111;
	border-radius: 40px;
	width: 90%;


	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#596a72+-1,596a72+0,596a72+1,cedce7+100 */
	background: rgb(89,106,114); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(89,106,114,1) -1%, rgba(89,106,114,1) 0%, rgba(89,106,114,1) 1%, rgba(206,220,231,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(89,106,114,1) -1%,rgba(89,106,114,1) 0%,rgba(89,106,114,1) 1%,rgba(206,220,231,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(89,106,114,1) -1%,rgba(89,106,114,1) 0%,rgba(89,106,114,1) 1%,rgba(206,220,231,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596a72', endColorstr='#cedce7',GradientType=0 ); /* IE6-9 */

}

.container {
	border: 1px solid black;
	margin: auto;
	margin-top: 50px;
	background-color: cedce7;
	border-radius: 20px;
	box-shadow: -10px 10px 10px #111;
	width: 75%;

}

.date {
	float: right;
	margin-top: 10px;
	
}

p, i {
	text-indent: 40px;
	margin: 20px;
	margin-bottom: 20px;
}

a {
	float: right;
	position:relative;
	bottom: 20px;
	right: 50px;
	cursor: pointer;
	font-size: 1.25em;
}


