

.container .container {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
	background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}

.size-container {
	width: 500px;
}

.jumbotron {
	width: 100%;
	margin: 10px;
	border: 1px solid black;
	box-shadow: -10px 10px 10px #888;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
	background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}

.jumbotron>h1 {
	text-align: center;
	font-family: fantasy;
	color: white;
	padding-top: 15px;
	border-bottom: 1px solid white;

}

.input-lg {
	width: 100%;
	background-color: rgba(204, 249, 213, .5);
	font-family: 'digital-7';
	font-size: 2.5em;
	text-align: right;
	box-shadow: -10px 10px 10px #888;
}

.input-display {
	width: 100%;
	margin: 10px;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
	box-shadow: -10px 10px 10px #888;
	background-color: #b9bebe;

}

.keypad {
	width: 100%;
	margin: 10px;
	padding: 20px;
	height: 60%;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: -10px 10px 10px #888;
	background-color: #b9bebe;

}

.numButtons {
	width: 100%;
	height: 20%;
	border: 2px solid black;
	border-radius: 50px;
	padding-top: 0px;
	margin-top: 10px;
	font-family: 'digital-7';
	box-shadow: -10px 10px 10px #888;
}

.numButtons:hover {
	background-color: #fff;
}

#operator {
	text-align: center;
	font-size: 3.5em;
}

#rightOperand {
	text-align: left;
}


/*-------------------------------------------------*/
/*------------HOVER ANIMATIONS---------------------*/
/*-------------------------------------------------*/


.hvr-radial-out {
	display:inline-block;
	vertical-align:middle;
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
	box-shadow:0 0 1px rgba(0,0,0,0);
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-moz-osx-font-smoothing:grayscale;
	position:relative;
	overflow:hidden;
	background:#e1e1e1;
	-webkit-transition-property:color;
	transition-property:color;
	-webkit-transition-duration:.3s;
	transition-duration:.3s;
}

.hvr-radial-out:before {
	content:"";
	position:absolute;
	z-index:-1;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:#888;
	border-radius:100%;
	-webkit-transform:scale(0);
	transform:scale(0);
	-webkit-transition-property:transform;
	transition-property:transform;
	-webkit-transition-duration:.3s;
	transition-duration:.3s;
	-webkit-transition-timing-function:ease-out;
	transition-timing-function:ease-out;
}

.hvr-radial-out:active,
.hvr-radial-out:focus,
.hvr-radial-out:hover {
	color:#fff;
}

.hvr-radial-out:active:before,
.hvr-radial-out:focus:before,
.hvr-radial-out:hover:before {
	-webkit-transform:scale(2);
	transform:scale(2);
}

/*-----------BUTTON WOBBLES-----------*/

.hvr-wobble-skew {
	display:inline-block;
	vertical-align:middle;
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
	box-shadow:0 0 1px rgba(0,0,0,0);
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-moz-osx-font-smoothing:grayscale;
}




.hvr-wobble-skew:active,
.hvr-wobble-skew:focus,
.hvr-wobble-skew:hover {
	-webkit-animation-name:hvr-wobble-skew;
	animation-name:hvr-wobble-skew;
	-webkit-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-iteration-count:1;
	animation-iteration-count:1;
}

@-webkit-keyframes hvr-wobble-skew {
	16.65% {
		-webkit-transform:skew(-12deg);
		transform:skew(-12deg);
	}
	33.3% {
		-webkit-transform:skew(10deg);
		transform:skew(10deg);
	}
	49.95% {
		-webkit-transform:skew(-6deg);
		transform:skew(-6deg);
	}
	66.6% {
		-webkit-transform:skew(4deg);
		transform:skew(4deg);
	} 
	83.25% {
		-webkit-transform:skew(-2deg);
		transform:skew(-2deg);
	}
	100% {
		-webkit-transform:skew(0);
		transform:skew(0);
	}
}

@keyframes hvr-wobble-skew {
	16.65% {
		-webkit-transform:skew(-12deg);
		transform:skew(-12deg);
	}
	33.3% {
		-webkit-transform:skew(10deg);
		transform:skew(10deg);
	}
	49.95% {
		-webkit-transform:skew(-6deg);
		transform:skew(-6deg);
	}
	66.6% {
		-webkit-transform:skew(4deg);
		transform:skew(4deg);
	}
	83.25% {
		-webkit-transform:skew(-2deg);
		transform:skew(-2deg);
	}100% {
		-webkit-transform:skew(0);
		transform:skew(0);
	}
}




