#map-canvas {
	width: 90%;
	height: 481px;
	border: 1px solid black;
	margin: auto;
	margin-bottom: 20px;
	box-shadow: 10px 10px 10px #888;
}

#info-window {
	margin: auto;
	background-image: url(/img/coops.png);
	height: 50px;
	width: 100px;
}

#address {
	width: 400px;
}
