body {
	background-image:url(/img/ocean.jpg); 
	background-size: cover; 
	background-repeat: 
	no-repeat; 
	background-attachment: fixed;
}

.container {
	background-color: rgba(0, 0, 0, .5);
	padding: 50px;
	margin-top: 50px;
	border-radius: 20px;
	box-shadow: 0px 0px 75px #000;
}

table,
.jumbotron {
	background-color: white;
	box-shadow: 0px 0px 75px #fff;
}

.btn {
	box-shadow: 0px 0px 75px #fff;
	margin: 2px;
}

.col-form-label {
	font-size: 1.5em;
}

.btn-lg {
	margin-right: 10px;
}

#limit {
	max-width: 100px;
}

label {
	color: white;
}